.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.192000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.200000px;}
._2{width:1.448000px;}
._1{width:18.224000px;}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y16{bottom:398.110000px;}
.y0{bottom:419.000000px;}
.y15{bottom:421.030000px;}
.y14{bottom:443.950000px;}
.y13{bottom:458.710000px;}
.y12{bottom:481.630000px;}
.y11{bottom:496.390000px;}
.y10{bottom:511.390000px;}
.yf{bottom:526.270000px;}
.ye{bottom:541.150000px;}
.yd{bottom:556.030000px;}
.yc{bottom:570.940000px;}
.yb{bottom:585.820000px;}
.ya{bottom:600.700000px;}
.y9{bottom:615.580000px;}
.y8{bottom:638.620000px;}
.y7{bottom:653.380000px;}
.y6{bottom:676.420000px;}
.y5{bottom:691.180000px;}
.y4{bottom:706.060000px;}
.y3{bottom:720.940000px;}
.y2{bottom:735.820000px;}
.y1{bottom:758.880000px;}
.h1{height:1.000000px;}
.h3{height:49.898438px;}
.h2{height:50.671875px;}
.h0{height:841.920000px;}
.w1{width:127.500000px;}
.w0{width:595.320000px;}
.x2{left:72.024000px;}
.x3{left:90.024000px;}
.x4{left:108.020000px;}
.x1{left:202.250000px;}
.x0{left:245.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.256000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.600000pt;}
._2{width:1.930667pt;}
._1{width:24.298667pt;}
.fs0{font-size:64.000000pt;}
.y16{bottom:530.813333pt;}
.y0{bottom:558.666667pt;}
.y15{bottom:561.373333pt;}
.y14{bottom:591.933333pt;}
.y13{bottom:611.613333pt;}
.y12{bottom:642.173333pt;}
.y11{bottom:661.853333pt;}
.y10{bottom:681.853333pt;}
.yf{bottom:701.693333pt;}
.ye{bottom:721.533333pt;}
.yd{bottom:741.373333pt;}
.yc{bottom:761.253333pt;}
.yb{bottom:781.093333pt;}
.ya{bottom:800.933333pt;}
.y9{bottom:820.773333pt;}
.y8{bottom:851.493333pt;}
.y7{bottom:871.173333pt;}
.y6{bottom:901.893333pt;}
.y5{bottom:921.573333pt;}
.y4{bottom:941.413333pt;}
.y3{bottom:961.253333pt;}
.y2{bottom:981.093333pt;}
.y1{bottom:1011.840000pt;}
.h1{height:1.333333pt;}
.h3{height:66.531250pt;}
.h2{height:67.562500pt;}
.h0{height:1122.560000pt;}
.w1{width:170.000000pt;}
.w0{width:793.760000pt;}
.x2{left:96.032000pt;}
.x3{left:120.032000pt;}
.x4{left:144.026667pt;}
.x1{left:269.666667pt;}
.x0{left:326.666667pt;}
}
