.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.192000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-8.656000px;}
._0{margin-left:-1.344000px;}
._1{width:1.232000px;}
._2{width:18.224000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y29{bottom:178.820000px;}
.y28{bottom:201.770000px;}
.y0{bottom:213.000000px;}
.y27{bottom:215.570000px;}
.y26{bottom:229.370000px;}
.y25{bottom:244.130000px;}
.y24{bottom:258.050000px;}
.y23{bottom:272.810000px;}
.y22{bottom:286.730000px;}
.y21{bottom:300.530000px;}
.y20{bottom:314.330000px;}
.y1f{bottom:329.090000px;}
.y1e{bottom:343.010000px;}
.y1d{bottom:356.810000px;}
.y1c{bottom:370.630000px;}
.y1b{bottom:385.390000px;}
.y1a{bottom:399.310000px;}
.y19{bottom:413.110000px;}
.y18{bottom:426.910000px;}
.y17{bottom:441.670000px;}
.y16{bottom:455.590000px;}
.y15{bottom:469.390000px;}
.y14{bottom:483.190000px;}
.y13{bottom:496.990000px;}
.y12{bottom:511.750000px;}
.y11{bottom:525.670000px;}
.y10{bottom:539.470000px;}
.yf{bottom:554.230000px;}
.ye{bottom:568.180000px;}
.yd{bottom:581.980000px;}
.yc{bottom:596.740000px;}
.yb{bottom:610.660000px;}
.ya{bottom:624.460000px;}
.y9{bottom:639.220000px;}
.y8{bottom:653.140000px;}
.y7{bottom:666.940000px;}
.y6{bottom:680.740000px;}
.y5{bottom:694.540000px;}
.y4{bottom:708.340000px;}
.y3{bottom:722.140000px;}
.y2{bottom:735.940000px;}
.y1{bottom:758.880000px;}
.h3{height:49.898438px;}
.h2{height:50.671875px;}
.h1{height:534.000000px;}
.h0{height:841.920000px;}
.w1{width:454.500000px;}
.w0{width:595.320000px;}
.x0{left:70.500000px;}
.x2{left:72.024000px;}
.x3{left:90.024000px;}
.x4{left:108.020000px;}
.x1{left:199.730000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.256000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-11.541333pt;}
._0{margin-left:-1.792000pt;}
._1{width:1.642667pt;}
._2{width:24.298667pt;}
.fs0{font-size:64.000000pt;}
.y29{bottom:238.426667pt;}
.y28{bottom:269.026667pt;}
.y0{bottom:284.000000pt;}
.y27{bottom:287.426667pt;}
.y26{bottom:305.826667pt;}
.y25{bottom:325.506667pt;}
.y24{bottom:344.066667pt;}
.y23{bottom:363.746667pt;}
.y22{bottom:382.306667pt;}
.y21{bottom:400.706667pt;}
.y20{bottom:419.106667pt;}
.y1f{bottom:438.786667pt;}
.y1e{bottom:457.346667pt;}
.y1d{bottom:475.746667pt;}
.y1c{bottom:494.173333pt;}
.y1b{bottom:513.853333pt;}
.y1a{bottom:532.413333pt;}
.y19{bottom:550.813333pt;}
.y18{bottom:569.213333pt;}
.y17{bottom:588.893333pt;}
.y16{bottom:607.453333pt;}
.y15{bottom:625.853333pt;}
.y14{bottom:644.253333pt;}
.y13{bottom:662.653333pt;}
.y12{bottom:682.333333pt;}
.y11{bottom:700.893333pt;}
.y10{bottom:719.293333pt;}
.yf{bottom:738.973333pt;}
.ye{bottom:757.573333pt;}
.yd{bottom:775.973333pt;}
.yc{bottom:795.653333pt;}
.yb{bottom:814.213333pt;}
.ya{bottom:832.613333pt;}
.y9{bottom:852.293333pt;}
.y8{bottom:870.853333pt;}
.y7{bottom:889.253333pt;}
.y6{bottom:907.653333pt;}
.y5{bottom:926.053333pt;}
.y4{bottom:944.453333pt;}
.y3{bottom:962.853333pt;}
.y2{bottom:981.253333pt;}
.y1{bottom:1011.840000pt;}
.h3{height:66.531250pt;}
.h2{height:67.562500pt;}
.h1{height:712.000000pt;}
.h0{height:1122.560000pt;}
.w1{width:606.000000pt;}
.w0{width:793.760000pt;}
.x0{left:94.000000pt;}
.x2{left:96.032000pt;}
.x3{left:120.032000pt;}
.x4{left:144.026667pt;}
.x1{left:266.306667pt;}
}
